html {
  overflow-y: hidden;
}

.text-dimmed {
  @apply text-neutral-500 text-responsive-small font-light;
}

.text-responsive-xs {
  font-size: calc(13px + 0.2vmin);
}

.text-responsive-small {
  font-size: calc(15px + 0.33vmin);
}

.text-responsive-normal {
  font-size: calc(15px + 0.55vmin);
}

.text-responsive-big {
  font-size: calc(15px + 1.25vmin);
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: #cccccc;
}

::selection {
  color: black;
  background: #cccccc;
}

.bgimg {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

