.markdown *:not(code, kbd, samp, pre) {
  font-family: inherit !important;
}

.markdown {
  @apply text-lg;
}

.markdown p {
  @apply my-5;
}

code,
kbd,
samp,
pre {
  @apply bg-gray-200 rounded-sm px-1 font-mono;
  font-size: 0.9rem;
}

code:not(pre > code) {
  @apply text-gray-600;
}

.markdown pre {
  @apply p-4 rounded-md my-3;
}

.markdown h1 {
  @apply text-3xl mt-7 mb-3 font-bold;
}
.markdown h2 {
  @apply text-2xl mt-6 mb-3;
}
.markdown h3 {
  @apply text-xl mt-5 mb-2;
}
.markdown h4 {
  @apply text-lg font-medium mt-3 mb-1;
}
.markdown h5 {
  @apply text-base font-medium mt-3 mb-1;
}
.markdown h6 {
  @apply text-base font-medium mt-3 mb-1;
}

.markdown pre code {
  background: unset !important;
  border: none !important;
}

.markdown mark {
  @apply bg-yellow-300 text-yellow-900 px-1 rounded-sm;
}

.markdown ul {
  list-style-type: circle;
}

.markdown ol.d {
  list-style-type: arabic-indic;
}

.markdown table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  @apply rounded-md
}

.markdown table,
.markdown tr,
.markdown td,
.markdown th {
  @apply border border-gray-300 rounded-md
}

.markdown tr:nth-child(2n) {
  background: #f5f5f5;
}

.markdown td,
.markdown th {
  padding: 0.33rem 0.5rem;
}

.markdown blockquote {
  @apply border-l-4 border-gray-400 pl-4 my-3 bg-gray-100 rounded-sm text-gray-600;
}

.markdown blockquote p {
  @apply my-0;
}

.markdown li {
  @apply ml-4;
}

.markdown a {
  @apply underline hover:bg-black hover:text-white leading-snug pt-1 underline-offset-4 hover:no-underline;
}

