---
import Card from '../components/Card.astro';
import SidebarLayout from '../layouts/SidebarLayout.astro';
---

<SidebarLayout>
	<div class="grid grid-cols-2 gap-3 lg:gap-5">
		<Card
			image="https://picsum.photos/1000"
			title="skinscan"
			description="Lorem ipsum dolor sit amet consectetur adipiscing elit."
		/>
		<Card
			image="https://picsum.photos/1000"
			title="skinscan"
			description="Lorem ipsum dolor sit amet consectetur adipiscing elit."
		/>
		<Card
			image="https://picsum.photos/1000"
			title="skinscan"
			description="Lorem ipsum dolor sit amet consectetur adipiscing elit."
		/>
		<Card
			image="https://picsum.photos/1000"
			title="skinscan"
			description="Lorem ipsum dolor sit amet consectetur adipiscing elit."
		/>
		<Card
			image="https://picsum.photos/1000"
			title="skinscan"
			description="Lorem ipsum dolor sit amet consectetur adipiscing elit."
		/>
		<Card
			image="https://picsum.photos/1000"
			title="skinscan"
			description="Lorem ipsum dolor sit amet consectetur adipiscing elit."
		/>
		<Card
			image="https://picsum.photos/1000"
			title="skinscan"
			description="Lorem ipsum dolor sit amet consectetur adipiscing elit."
		/>
	</div>
</SidebarLayout>
