---
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import MobileIntro from "../components/MobileIntro.astro";
import SidebarLayout from "../layouts/SidebarLayout.astro";

const posts = await Astro.glob("./read/*");
---

<SidebarLayout>
  <div class="black md:hidden">
    <MobileIntro />
  </div>
  <div
    class="grid grid-cols-1 lg:grid-cols-2 gap-4 md:gap-7 px-3 lg:px-0"
  >
    {
      posts
        .sort((a, b) => b.frontmatter.index - a.frontmatter.index)
        .map((post) => <Card href={post.url} data={post.frontmatter} />)
    }
  </div>
  <div
    class="flex items-center justify-center select-none text-dimmed text-responsive-xs py-16"
  >
    <div>
      Created with <span class="grayscale" style="font-size:0.9rem"
        >❤️</span
      > by Baris •
      <Button
        underline
        href="https://github.com/baris-inandi/inandioglu.com"
        text="See GitHub Repo"
      />
    </div>
  </div>
</SidebarLayout>
