---
interface Props {
  text: string;
  href: string;
}

const props = Astro.props;
---

<a
  href={props.href}
  class="w-fit hover:bg-black hover:text-white leading-snug pt-1"
>
  {props.text}
</a>
