---
import ReactivePfp from "./global/ReactivePfp.astro";
import Social from "./global/Social.astro";
---

<div
  class="flex flex-col gap-8 justify-center pt-10 pb-28 text-justify"
>
  <ReactivePfp />
  <div class="flex flex-col gap-2">
    <p class="text-base">Hello! My name is</p>
    <h1 class="text-4xl select-all">Baris Inandioglu</h1>
    <div class="text-dimmed pt-3 text-base">
      <p>I'm a developer based in Istanbul, Türkiye.</p>
      <p>Welcome to my home page!</p>
    </div>
  </div>
  <Social />
</div>
