---
import ReactivePfp from "./global/ReactivePfp.astro";
import Social from "./global/Social.astro";
---

<div class="flex flex-col gap-8 justify-center pt-2 pb-4 text-justify">
  <ReactivePfp />
  <div class="flex flex-col gap-1">
    <p class="text-base">Hello! My name is</p>
    <h1 class="text-4xl select-all font-medium py-2">
      Baris Inandioglu
    </h1>
    <div class="text-dimmed text-base">
      <p>I'm a developer based in Istanbul, Türkiye.</p>
      <p>Welcome to my home page!</p>
    </div>
  </div>
  <Social />
  <div class="w-full flex justify-center items-center pt-3">﹀</div>
</div>
