---
import Greet from "./global/Greet.astro";
import ReactivePfp from "./global/ReactivePfp.astro";
import Social from "./global/Social.astro";
---

<div class="flex h-screen shrink-0">
  <div
    class="p-16 pr-10 h-full text-responsive-normal flex flex-col justify-between gap-6"
  >
    <div class="flex flex-col">
      <div class="pb-7">
        <ReactivePfp />
      </div>
      <Greet />
    </div>
    <Social />
  </div>
</div>
