---
import BaseBlogHeader from "./BaseBlogHeader.astro";

const props = Astro.props;
---

<div class="#bfgoheaders">
  <BaseBlogHeader color="#CEDCED" {...props}>
    <slot />
  </BaseBlogHeader>
</div>
