---
import SidebarLayout from "./SidebarLayout.astro";
---

<SidebarLayout>
  <div class="-translate-y-8">
    <a href="/" class="p-0 m-0">
      <div class="font-medium p-0 m-0 h-8 underline w-fit pr-6 underline-offset-4">
        Back
      </div>
    </a>
    <div class="markdown">
      <slot />
    </div>
  </div>
</SidebarLayout>
