---
import BaseHead from "../components/BaseHead.astro";
import Sidebar from "../components/Sidebar.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const { hideSidebar } = Astro.props;
---

<!doctype html>
<html lang="en" class="touch-manipulation">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="flex items-center justify-center w-screen h-screen">
      <div
        class="flex flex-col md:flex-row items-center h-full w-full max-w-screen-xl"
      >
        <div class="hidden md:block">
          {hideSidebar ? "" : <Sidebar />}
        </div>
        <div
          class="w-full h-full px-8 md:px-16 py-16 overflow-y-scroll scrollbar-hidden text-base"
        >
          <slot />
        </div>
      </div>
    </div>
  </body>
</html>
