<div>
  <p>Hello! My name is</p>
  <a href="/" class="text-responsive-big select-all font-medium">
    Baris Inandioglu
  </a>
  <div class="text-dimmed pt-3">
    <p>I'm a developer based in Istanbul, Türkiye.</p>
    <p>Welcome to my home page!</p>
  </div>
</div>
