<div class="select-none">
  <img
    class="pfpimg rounded-md h-[calc(40px+24vmin)] w-[calc(40px+24vmin)] md:h-[calc(40px+12vmin)] md:w-[calc(40px+12vmin)]"
    src={""}
    draggable="false"
    style="opacity: 0;"
    alt="My Picture!"
  />
  <!-- <p class="text-dimmed pt-3 text-responsive-xs">
    Try clicking on my picture!
  </p> -->
</div>

<script>
  import { onDocumentReady } from "../../lib/onDocumentReady";
  const NUM_PFPS = 7;

  const PFP_CHANGE = false;

  const preloadImage = (url: string) => {
    return new Promise((resolve, reject) => {
      const image = new Image();
      image.src = url;
      image.onload = () => resolve(image);
      image.onerror = () =>
        reject(new Error("Could not load image at " + url));
    });
  };

  for (let i = 1; i <= NUM_PFPS; i++) {
    preloadImage(`/face/${i}.webp`);
  }

  onDocumentReady(() => {
    const pfpElements = document.getElementsByClassName("pfpimg");

    for (const key in pfpElements) {
      if (Object.hasOwnProperty.call(pfpElements, key)) {
        const pfpElement = pfpElements[key] as HTMLImageElement;
        pfpElement.src = `/face/${
          PFP_CHANGE
            ? parseInt(localStorage.getItem("pfpN") ?? "0") + 1
            : 1
        }.webp`;
        pfpElement.style.opacity = "1";

        if (!pfpElement) return;
        let currentPfp = parseInt(localStorage.getItem("pfpN") ?? "0");
        function changePfp() {
          let n = currentPfp;
          while (n == currentPfp) {
            n = (n + 1) % NUM_PFPS;
            localStorage.setItem("pfpN", JSON.stringify(n));
            pfpElement.src = `/face/${n + 1}.webp`;
          }
          currentPfp = n;
        }
        if (PFP_CHANGE) {
          pfpElement?.addEventListener("click", changePfp);
        }
      }
    }
  });
</script>
