<div>
  <img
    class="cursor-pointer pfpimg rounded-md h-[calc(40px+24vmin)] w-[calc(40px+24vmin)] md:h-[calc(40px+10vmin)] md:w-[calc(40px+10vmin)]"
    src="/face/1.webp"
    alt="My Picture!"
  />
  <p class="text-dimmed pt-3 text-responsive-xs">
    Try clicking on my picture!
  </p>
</div>

<script>
  import { onDocumentReady } from "../../lib/onDocumentReady";
  const NUM_PFPS = 8;

  onDocumentReady(() => {
    const pfpElements = document.getElementsByClassName("pfpimg");
    for (const key in pfpElements) {
      if (Object.hasOwnProperty.call(pfpElements, key)) {
        const pfpElement = pfpElements[key] as HTMLImageElement;
        if (!pfpElement) return;
        let currentPfp = 0;
        function changePfp() {
          let n = currentPfp;
          while (n == currentPfp) {
            n = (n + 1) % NUM_PFPS;
            if (pfpElement) {
              pfpElement.src = `/face/${n + 1}.webp`;
            }
          }
          currentPfp = n;
        }
        // pfpElement?.addEventListener("mouseover", changePfp);
        // pfpElement?.addEventListener("mouseleave", changePfp);
        pfpElement?.addEventListener("click", changePfp);
      }
    }
  });
</script>
